body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: rgb(247, 245, 245);
}

.header {
  background-color: rgb(2, 2, 0);
  color: rgb(248, 248, 248);
  padding: 8px;
  position: relative;
  border-bottom: 1px solid #333;
}

.header-left {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 18px;
  cursor: pointer;
}

.header-title {
  text-align: center;
  font-size: 28px;
  font-family: Georgia, serif;
}

.content {
  padding: 20px;
  flex: 1;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 40px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: white;
  border-bottom: 1px solid beige;
  padding: 10px;
}

.menu p {
  margin: 10px 0;
  cursor: pointer;
}

.menu p:hover {
  text-decoration: underline;
}
