body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: rgb(247, 245, 245);
}

.header {
  background-color: rgb(2, 2, 0);
  color: rgb(248, 248, 248);
  padding: 8px;
  position: relative;
  border-bottom: 1px solid #333;
}

.header-left {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 18px;
  cursor: pointer;
}

.header-title {
  text-align: center;
  font-size: 28px;
  font-family: Georgia, serif;
}

.content {
  padding: 20px;
  flex: 1;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 40px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: white;
  border-bottom: 1px solid beige;
  padding: 10px;
}

.menu p {
  margin: 10px 0;
  cursor: pointer;
}

.menu p:hover {
  text-decoration: underline;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

@media (min-width: 700px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  background: white;
  border: 1px solid beige;
  padding: 12px;
  border-radius: 8px;
}

.card-image {
  height: 120px;
  background: beige;
  border: 1px solid rgb(194, 194, 157);
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #524f4f;
}

.card h3 {
  margin: 0 0 6px 0;
}

.card p {
  margin: 0 0 10px 0;
  color: gray;
}

.card button {
  padding: 8px 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.detail {
  background: white;
  border: 1px solid beige;
  padding: 12px;
  border-radius: 8px;
}

.detail-image {
  height: 180px;
  background: rgb(238, 238, 203);
  border: 1px solid beige;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}
