body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: rgb(247, 245, 245);
}

.header {
  background-color: rgb(2, 2, 0);
  color: rgb(248, 248, 248);
  padding: 8px;
  position: relative;
  border-bottom: 1px solid #333;
}

.header-left {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 18px;
  cursor: pointer;
}

.header-title {
  text-align: center;
  font-size: 28px;
  font-family: Georgia, serif;
}

.content {
  padding: 20px;
  flex: 1;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: white;
  border-bottom: 1px solid beige;
  padding: 10px;
}

.menu p {
  margin: 10px 0;
  cursor: pointer;
}

.menu p:hover {
  text-decoration: underline;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

@media (min-width: 700px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  background: white;
  border: 1px solid beige;
  padding: 12px;
  border-radius: 8px;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid beige;
  cursor: pointer;
  object-position: center;
  image-rendering: auto;
}

.card h3 {
  margin: 10px 0 0 0;
  cursor: pointer;
}

.card p {
  margin: 0 0 10px 0;
  color: gray;
}

.card button {
  padding: 8px 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333;
}

.detail {
  background: white;
  border: 1px solid beige;
  padding: 12px;
  border-radius: 8px;
}

.detail-img {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid beige;
  margin-bottom: 10px;
}

select {
  padding: 6px;
  margin-left: 6px;
}
